@import "../../../base";

$card-width: 240px;
$card-height: 350px;
$card-v-padding: 60px;
$card-h-padding: 15px;
$card-h-margin: 5px;
$card-img-title-v-margin: 25px;
$card-img-size: 160px;


.card-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  &:has(div.card:hover) {
    z-index: 1;
  }

  .card {
    position: relative;
    width: $card-width;
    height: $card-height;
    box-sizing: border-box;

    background-image: linear-gradient(#262626, #131313);
    border: solid 1px rgba(255, 255, 255, 0.1);
    padding: $card-v-padding $card-h-padding;
    border-radius: $border-radius;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    font-size: $font-size-small;

    &:not(.disabled) {
      cursor: pointer;
      @include hover-transition(top, 0, -10px);

      &:hover {
        box-shadow: $box-shadow;
        border: solid 1px #55487f;
      }
    }

    &.disabled {
      opacity: .8;

      * {
        color: #c6b6ff !important;
      }
    }

    .header {
      text-align: center;
      font-weight: $font-weight-bold;
      color: white;
      margin: 0 0 $card-img-title-v-margin 0;
    }

    .img-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;

      .img {
        border-radius: 50%;
        width: $card-img-size;
        height: $card-img-size;
        background-position: center;
        background-size: cover;
      }
    }

    .img-title {
      color: white;
      font-weight: $font-weight-light;
      text-align: center;
      margin: $card-img-title-v-margin 0 0 0;
    }
  }

  .disabled-text {
    margin-top: $interval-big;
    font-weight: $font-weight-light;
    font-size: $font-size-regular;
    color: white;
    opacity: .8;
    margin-bottom: 0;
  }
}
