@import "../../../base";

.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: $content-padding-top $content-padding-right $content-padding-bottom $content-padding-left !important;

  header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .title-wrapper {
      flex: 1;

      h1 {
        color: white;
        font-weight: $font-weight-regular;
        font-size: $font-size-bigger;
        margin: 0;
      }

      nav {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 300px;

        ul {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            a {
              color: white;
              font-size: $font-size-regular;
              font-weight: $font-weight-light;
              text-decoration: none;
              cursor: pointer;

              &.active {
                border-bottom: 2px solid white;
                font-weight: $font-weight-bold;
              }

              &:hover {
                border-bottom: 2px solid white;
              }
            }
          }
        }
      }
    }

    .logo-wrapper {
      flex: 2;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;

      img {
        position: relative;
        width: 10em;
      }
    }
  }

  article {
    position: relative;

    height: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    .content-wrapper {
      flex: 1;
      height: 100%;
      max-width: 1120px;
      position: relative;

      .architecture {
        height: 100%;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        img {
          border-radius: $border-radius;
          box-shadow: $box-shadow;
          height: 550px;
          position: relative;
        }
      }

      .demo {
        height: 500px !important;
        display: inline-flex !important;
        flex-flow: row nowrap !important;
        align-items: center;

        > .card-wrapper {
          margin-right: $interval-regular;
        }
      }
    }
  }
}
