@import "../../../styles/base";

.profile-page {
  padding-top: 50px;
  display: flex;
  position: relative;
  height: 100%;

  .icon-wrapper {
    width: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    img {
      cursor: pointer;
      margin-top: 24px;
    }
  }

  .data-wrapper {
    position: relative;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 47px 0 rgba(47, 101, 150, 0.26);
    z-index: 2;
    max-width: 516px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 444px;
      padding: 20px 30px;
      border-bottom: solid 1px rgba(222, 222, 222, 0.36);

      img {
        width: 60px;
      }

      .avatar-description {
        margin-left: 14px;

        h3 {
          font-size: 18px;
          letter-spacing: -0.43px;
          color: #5a564e;
        }

        p {
          margin-top: 3px;
          font-size: 10px;
          letter-spacing: -0.24px;
          color: #a3c787;
        }
      }
    }

    .content {
      width: 100%;
      overflow-y: auto;
      flex: 1;

      .entry {
        width: 100%;
        display: grid;
        grid-template-columns: 74px auto;
        grid-column-gap: 38px;
        padding: 12px 50px 12px 34px;
        box-sizing: border-box;

        &:nth-child(n+2) {
          border-top: solid 1px rgba(222, 222, 222, 0.36)
        }

        .name {
          font-size: 12px;
          color: #818181;
          letter-spacing: -0.28px;
        }

        .two-claims {
          display: flex;
          flex-flow: column nowrap;

          .claim {
            &:nth-child(n+2) {
              padding-top: 12px;
              margin-top: 12px;
              border-top: solid 1px rgba(222, 222, 222, 0.36)
            }
          }
        }
      }
    }
  }

  .text-wrapper {
    margin-left: 80px;
    color: white;

    p {
      margin-top: 24px;
      font-size: 21px;

      b {
        font-weight: $font-weight-bold;
      }
    }
  }
}
