.about-page {
  padding-left: 100px;
  padding-top: 50px;

  p {
    font-size: 22px;
    margin-bottom: 1em;
    color: white;
  }

  img {
    position: absolute;
    width: 1100px;
    right: 40px;
    bottom: 150px;
  }
}
