.dimmer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;


  background-color: rgba(0, 0, 0, .5);
  transition: background-color .3s ease-out;

  &.fade {
    background-color: rgba(0, 0, 0, 0);
  }
}