@import "../../../base";


.steps {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  > .step {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 100%;
    height: 80px;
    padding: 1em;
    box-sizing: border-box;

    @include hover-transition(background-color, white, $color-lightest-blue);

    &.active {
      background-color: $color-lightest-blue;
    }

    &:not(.active) {
      cursor: pointer;
    }

    .content {
      position: relative;
      width: 100%;
      box-sizing: border-box;

      .header {
        font-size: $font-size-tiny;
        margin: 0;
      }

      .subheader {
        font-size: $font-size-micro;
        color: $color-gray;
        margin: .5em 0 0 0;
      }

      &.active:after {
        border-left: 17px solid $color-lightest-blue;
      }

      &:after {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 25px solid;
        content: "";
        position: absolute;
        right: -25px;
        height: 0;
        width: 0;
        top: 0;
        bottom: 0;
        z-index: 2;

        border-left-color: white;
        transition: border-left-color .1s ease-in;
      }
    }

    &:last-child .content:after {
      border: none;
    }

    &:hover .content:after {
      border-left-color: $color-lightest-blue;
    }

    &.active .content:after {
      border-left-color: $color-lightest-blue;
    }
  }
}