@import "../../../base";

.footer {
  background-color: rgba(19, 19, 19, 0.75);
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  box-sizing: border-box;

  padding: 0 $content-padding-right 0 $content-padding-left;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  .partners-logos {
    height: 40px;

    #sovrin-logo {
      position: relative;
      top: 2px;

      margin-right: 40px;
    }
  }
}
