@import "../../../base";


.waypoints-modal {
  width: 550px;
  background-color: white;
  border-radius: $border-radius;
  position: relative;

  > .header {
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    border-bottom: 1px solid $color-light-gray;

    h5 {
      font-size: $font-size-tiny;
    }

    .close-btn {
      height: 22px;
      width: 21px;
      cursor: pointer;

      @include hover-transition(opacity, .7, 1)
    }
  }

  > .body {
    background-color: #f4f4f4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .waypoints {
      margin-top: 30px;
      margin-bottom: 30px;
      position: relative;
      display: grid;
      width: 420px;
      grid-template-columns: 0 400px;
      grid-column-gap: 10px;

      .description {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .plate {
          position: relative;
          width: 80%;
          background-color: white;
          border-radius: 8px;
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.09);;
          margin-bottom: 10px;

          padding: 20px 15px;
          box-sizing: border-box;

          .at {
            color: #818181;
            font-size: $font-size-tiny;
          }

          .by {
            margin-top: 10px;
            color: #818181;
            font-size: $font-size-micro;
          }

          .text {
            color: #5a564e;
            font-size: $font-size-small;
          }
        }
      }

      .waypoint {
        position: relative;
        width: 0;
        height: 100%;
        border: 4px solid #ededed;

        &.not-visible {
          border: 4px solid transparent;
        }

        .point {
          position: absolute;
          top: -7px;
          left: -7px;
          border-radius: 50%;
          width: 14px;
          height: 14px;
          background-color: #8988f1;
          z-index: 1;
        }
      }
    }
  }
}