$width-regular: 1600px;
$width-fullhd: 1920px;
$width-4k: 3656px;

$height-regular: 900px;
$height-fullhd: 1200px;

$content-padding-left: 115px;
$content-padding-top: 100px;
$content-padding-right: 100px;
$content-padding-bottom: 45px;

$font-regular: Roboto, Arial, sans-serif;

$font-size-micro: 12px;
$font-size-tiny: 14px;
$font-size-small: 16px;
$font-size-regular: 24px;
$font-size-big: 32px;
$font-size-bigger: 42px;

$font-weight-regular: normal;
$font-weight-bold: bold;
$font-weight-light: 300;

$color-gray: #8d8d8d;
$color-light-gray: #ececec;
$color-black: #111111;
$color-white: white;
$color-light-blue: #55487f;
$color-lightest-blue: #eaeaea;

$box-shadow: 0 2px 32px 0 rgba(100, 67, 145, 0.38);

$border-radius: 8px;
$interval-small: 5px;
$interval-regular: 10px;
$interval-big: 20px;

@mixin hover-transition($property, $default-value, $new-value, $duration: .1s, $easing: ease-in) {
  transition: $property $duration $easing;
  #{$property}: $default-value;

  &:hover {
    #{$property}: $new-value
  }
}

@function font-url($modifier) {
  @return url("../../../assets/fonts/Roboto/Roboto-" + $modifier + ".ttf");
}

@font-face {
  font-family: Roboto;
  src: font-url("Regular");
  font-weight: $font-weight-regular
}

@font-face {
  font-family: Roboto;
  src: font-url("Bold");
  font-weight: $font-weight-bold
}

@font-face {
  font-family: Roboto;
  src: font-url("Light");
  font-weight: $font-weight-light
}

html, body, #root, #page-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Roboto, Arial, sans-serif;
}

#page-wrapper.overflow {
  overflow: hidden;
}

.fade-blow {
  transform: scale(1);
  opacity: 1;

  transition: transform .3s ease-in-out, opacity .3s ease-in-out;

  &.active {
    opacity: 0;
    transform: scale(2);
  }
}

.fade {
  opacity: 1;
  transition: opacity .3s ease-in;

  &.active {
    opacity: 0;
  }
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  padding: $content-padding-top $content-padding-right 0 $content-padding-left;
  box-sizing: border-box;

  background-size: cover;
  background-position: left top;
}

@mixin btn($color) {
  position: relative;
  border-radius: $border-radius;
  border: 1px solid $color;
  color: $color;
  background-color: transparent;
  padding-right: 1em;
  padding-left: 1em;
  height: 33px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .img {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0 0 0 0;
    background-size: contain;
    background: no-repeat center;
  }

  cursor: pointer;
  @include hover-transition(opacity, .8, 1, .2s)
}

*:focus, *:active {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: $color-lightest-blue;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-lightest-blue;
}

::-webkit-scrollbar-thumb:active {
  background: $color-lightest-blue;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #ececec;
}

::-webkit-scrollbar-track:active {
  background: #8d8d8d;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
