@import "../../../base";

.tc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  article {
    position: relative;
    z-index: 1;

    .controls {
      display: flex;
      flex-flow: row nowrap;

      .add-request-btn, .distribute-package-btn {
        @include btn(white);
        margin-bottom: 20px;
        margin-right: 20px;

        span {
          margin-right: 5px !important;
        }
      }
    }

    .columns {
      position: relative;
      display: grid;
      grid-template-columns: auto 400px;
      grid-column-gap: 100px;
      box-sizing: border-box;

      .right, .left {
        height: 100%;
      }

      .left {
        min-width: 960px;
        position: relative;
        width: 100%;
      }

      .right {
        box-sizing: border-box;
        color: white;
        font-size: $font-size-regular;
        font-weight: $font-weight-light;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding-top: 5em;

        .description {
          text-align: left;
        }
      }
    }
  }
}
