@import "../../../styles/base";

.request-page {
  padding-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  flex: 1;

  .icon-wrapper {
    width: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    img {
      cursor: pointer;
      margin-top: 24px;
    }
  }

  .qr-wrapper {
    position: relative;
    padding: 60px 60px 0 60px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 47px 0 rgba(47, 101, 150, 0.26);
    z-index: 2;

    img {
      width: 334px;
      height: 334px
    }
  }

  .text-wrapper {
    margin-left: 80px;
    color: white;

    p {
      margin-top: 24px;
      font-size: 21px;

      b {
        font-weight: $font-weight-bold;
      }
    }
  }
}
