@import "../../../base";

.pa {
  padding-bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow: hidden;

  article {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    .patients-app {
      position: relative;
      height: 600px;
      margin-right: 60px;
      margin-left: 120px;

      @media (min-height: $height-regular) {
        height: 700px;
      }
    }

    .info {
      color: white;
      font-size: $font-size-regular;
      font-weight: $font-weight-light;
      height: 500px;

      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      text-align: left;

      .description {
        width: 540px;
        margin-bottom: 100px;
      }
    }
  }
}